<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let cust of customers" [class.selected]="hero === selectedHero" (click)="onSelect(cust)">
        <span class="badge">{{cust.customerID}}</span> {{cust.contactName}}
    </li>
</ul>
<div *ngIf="selectedCustomer">
    <h2>{{selectedCustomer.contactName}} details!</h2>
    <div><label>id: </label>{{selectedCustomer.customerID}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="selectedCustomer.contactName" placeholder="Name" />
    </div>   
</div>
