<div class="container">   
    <div style="display: inline">
        <h1>Power Form</h1>
        <form #powerForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description ="ngModel">
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    description is required
                </div>
            </div>
            <div class="form-group">
                <label for="contents">Contents</label>
                <input type="text" class="form-control" id="contents" [(ngModel)]="model.contents" name="contents" #contents ="ngModel">                  
              
            </div>
            <button type="submit" class="btn btn-success" (click)="AddPower();" [disabled]="!powerForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newPower(); powerForm.reset()">New Power</button>
        </form>

    </div>  
    <div>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>     
                  <th>Contents</th>             
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let h of powers">
                    <td>{{h.id}}</td>
                    <td>{{h.name}}</td>
                    <td>{{h.description}}</td>                    
                    <td>{{h.contents}}</td>   
                    <td>   <button class="btn btn-primary" (click)="initializeForEdit(h)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>